- content_for :title do
  = @title

%div#samples
  %ul
    - ["#{app_root}/shokai", Icon::sizes.map{|s| "#{app_root}/shokai/#{s}"}].flatten.each do |url|
      %li
        %div
          %img{:src => url}
        %div
          %input.img_tag{:type => :text, :value => "<img src=\"#{url}\">", :size => 60}
