- content_for :title do
  = @title

%div
  You can embed Twitter Profile Icon with simple URL "#{app_root}/USER_NAME"
%h2 Sample
%div#samples
  %ul
    - ["#{app_root}/shokai", Icon::sizes.map{|s| "#{app_root}/shokai/#{s}"}].flatten.each do |url|
      %li
        %div
          %a{:href => url}
            %img{:src => url}
        %div
          %input.img_tag{:type => :text, :value => "<img src=\"#{url}\">", :size => 60}
